<div class="page-header">
  <h2>  <%= t '.title' %></h2>
</div>

<div class="legend">
  Lo primero que debe realizar en el sistema, es completar el formulario con sus  datos personales y sus datos laborales
</div>

<%= render 'form' %>
