<%= render partial: 'page_header', locals: { title: t('users.index.title'), 
                                             sub_title: t('users.index.sub_title')  } %>

<div class="row">
  <div class="col-md-12">
    <!-- render 'filter', q: @q -->
  </div>
</div>

<%= render 'users' %>

<%= render partial: 'pager', locals: { model: @users  } %>
