<%= render partial: 'page_header', locals: { title: t('projects.index.title'), sub_title: t('projects.index.sub_title')  }%>

<% if @all_visible_projects.any? %>
  <%= render 'all_projects',  projects: @all_visible_projects %>

<% else %>
  <div class="alert alert-info">
    <%= t('projects.index.list_empty') %>
  </div>
<% end %>


<%= render partial: 'pager', locals: { model: @all_visible_projects } %>
