<%= simple_form_for(@personal_information) do |f| %>
  <%= f.error_notification  %>

  
  <div class="form-actions">
    <div class="row">
      <div class="col-md-12">
        <%= f.submit class: 'btn btn-success', value: t('.submit', default: t('global.form.actions.submit')) %>
      </div>
    </div>
  </div>
<% end %>

