/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require bootstrap-datetimepicker
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

//VERSION DE PRUEBA
.trivial-version {
    background-color: #d41454;
    text-align: right;
    color: white;
    padding: .25em .5em;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 0;

    i {
      display: inline-block;
      padding-left: .5em;
      line-height: 1.4;
    }
}

//


// LOGIN
.login-button{
  text-align: center;
  vertical-align: middle;
  background-color: #38a2ba ;
  border: 0;
  padding: 0.5em 3em 0.5em 3em; 
}

.login-background {
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  background-image: url("background-light.png");

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #4baad3, rgba(240, 96, 80, 3.62));
    opacity: .6;
  }
}

// END LOGIN

.main-content{
  margin-top: 50px;
}
