<div class="row">
  <div class="col-md-12">
    <div class="container-fluid">
      <div class="navbar navbar-blue navbar-fixed-top">
        <div class="navbar-header">
          <%= t'navbar.projects'  %>
        </div>
        <ul class="nav navbar-nav navbar-menu">
          <li><%= link_to t('projects.index.title'), projects_path %></li>
          <li><%= link_to t('users.index.title'),    users_path    %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

