<div class="page-header">
  <div class="row">
    <div class="page-header">
      <%- if defined? alt_title -%>
        <%= title %>
        <%- content_for(:title, alt_title) -%>
      <%- else -%>
        <%= title.tap { |t| content_for(:title, t) } %>
      <%- end -%>
    </div>
  </div>
  <div class="row">
    <%- if defined? sub_title -%>
      <p><%= sub_title %></p>
    <%- end -%>
  </div>
  <div class="col-md-4 text-right">
    <%= yield :filter_form %>
  </div>
</div>
