<div class="navbar navbar-fixed-top navbar-gradient">
  <div class="container container-fluid">
    <%= link_to new_user_session_path do %>
      <%= image_tag asset_path("sistema-integral-logo2.png"), alt: 'Logo Red Legislativa', width: '270', height: '90' %>
    <% end %>
  </div>
</div>


