<div class="page-header">
  <div class="row">
    <div class="col-md-5">
      <h1><%= t '.title', default: t('global.show.title') %></h1>
    </div>
    <div class="col-md-7">
      <div class="header-actions">
        <%= link_to icon('chevron-left'), tests_path, class: 'btn btn-default', data: { toggle: 'tooltip', container: 'body' }, title: t('.back', default: t('global.actions.back')) %>
        <%= link_to icon('pencil'), edit_test_path(@test), class: 'btn btn-primary', data: { toggle: 'tooltip', container: 'body' }, title: t('.back', default: t('global.actions.edit')) %>
      </div>
    </div>
  </div>
</div>


