<%= render partial: 'page_header', locals: { title: t('charges.show.collaborators.new.title'), sub_title: t('charges.show.collaborators.new.sub_title') } %>

<div class="row">
  <%= render partial: '/users/form' %>
</div>
